:root {
  font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Regular.eot');
    src: url('JetBrainsMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('JetBrainsMono-Regular.woff2') format('woff2'),
        url('JetBrainsMono-Regular.woff') format('woff'),
        url('JetBrainsMono-Regular.ttf') format('truetype'),
        url('JetBrainsMono-Regular.svg#JetBrainsMono-Regular') format('svg');


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  place-items: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

.h1 {
  font-size: 10rem;
  line-height: 1.1;
}

.projects {
  margin-top: 10vh;
}

.sketchLeft {
  float: left;
  margin-right: 20px;
}

.sketchRight {
  float: right;
  margin-left: 20px;
}

.textRight {
  margin-left: 25vw;
  margin-bottom: 10em;
}

.textLeft {
  float: left;
  margin-right: 1vw;
}

a:link {
  color: grey;
  text-decoration: none;
}
a:visited {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: lightgrey;
}
